<h2>New token validator</h2>

<%= render "form.html", changeset: @changeset,
                        action: token_validator_path(@conn, :create) %>

<%= link "Back", to: token_validator_path(@conn, :index) %>
